.todo-row {
    border: 1px solid rgb(27, 27, 27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(45deg, #38AECC 0%, #0090C1 100%);
    padding: 16px;
    border-radius: 10px;
    width: 90%;
    text-align: left;
}

.todo-text {
    font-size: 30px;
    justify-content: end;
}

.complete {
    transition: background-color 0.5s ease;
    background: #7EE081
}
