.todo-button {
    margin-left: 1vw;
    padding: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    background: linear-gradient(45deg, #38AECC 0%, #0090C1 100%);
    color: #fff;
    text-transform: capitalize;
    width: 15%;
    font-size: 30px;
}

.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 10px;
    border: 2px solid #38AECC;
    outline: none;
    width: 73%;
    background: transparent;
    color: #fff;
    font-size: 30px;
}

.todo-input::placeholder {
    color: #6e6e6e;
}

.todo-input.edit {
    border: 2px solid #38AECC;
}

.input-container {
    width: 100%;
}
