body {
  background: linear-gradient(90deg, #0090C1 0%, rgb(183, 255, 251) 100%);
}

.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 60vw;
  min-height: 600px;
  background: #022F40;
  text-align: center;
  margin: 128px auto;
  border-radius: 80px;
  padding-bottom: 32px;
}

h1 {
  font-family: 'Pacifico', cursive;
  margin: 32px 0;
  color: #fff;
  font-size: 44px;
}
